@font-face {
    font-family: Simpler;
    src: url('../../fonts/SimplerPro_Rounded-Regular.otf');
}
@font-face {
    font-family: SimplerM;
    src: url('../../fonts/SimplerPro_Rounded-Medium.otf');
}
@font-face {
    font-family: SimplerB;
    src: url('../../fonts/SimplerPro_Rounded-Bold.otf');
}