// Colors
$white: #ffffff;
$black: #323232;
$green: #76D300;
$red: #E13251;

$pink: #FF0B71;
$pink-dark: #ab0a4d;
$pink2: #FF7D94;
$light-pink: #FFB1BF;
$extra-light-pink: #FFDCE2;

$gray: #8B8795;
$gray2: #ACA8B6;
$gray3: #CCC8D6;
$gray4: #E7E3F1;
$gray5: #F3F0FA;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1400px;