* {
    box-sizing: border-box;
}

html {
    transition: 0.1s;
    height: 100vh;
    font-family: Simpler;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0;
}